In [22]:
import pandas as pd
import numpy as np

1. Create a Series object and print it to the console.

In [11]:
stocks = ['PLW', 'CDR', '11B', 'TEN']

In [14]:
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

2. Create a Series object and assign it to the quotations variable. In response, print quotations variable to the console.

In [16]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

In [17]:
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

3. Convert quotations to the list and print it to the console.

In [18]:
print(list(quotations))

[387.0, 339.5, 349.5, 391.0]

4. Convert the quotations to the DataFrame and set the column name to 'price'. In response, print this DataFrame to the console.

In [20]:
df = pd.DataFrame(quotations, columns=["price"])
print(df)

     price
PLW  387.0
CDR  339.5
TEN  349.5
11B  391.0

5. Using the numpy and pandas create the following Series:

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

In [24]:
data = np.arange(10,100,10)
index = np.arange(101,110)
s = pd.Series(index, data)
print(s)

10    101
20    102
30    103
40    104
50    105
60    106
70    107
80    108
90    109
dtype: int64

6. Convert its type to int and print this Series to the console.

In [27]:
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
series=series.astype(int)
print(series)

a    1
b    2
c    3
d    4
dtype: int64

7. Add two elements to this Series:

key: 'BBT', value: 25.5

key: 'F51', value: 19.2

In response, print quotations Series to the console.

In [35]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)

In [37]:
quotations['BBT']=25.5
quotations['F51']=19.2
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64

8. Convert the following quotations Series to DataFrame. Reset the index and name the columns 'ticker' and 'price' respectively.
In response, print this DataFrame to the console.

In [38]:
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0, 'BBT': 25.5, 'F51': 19.2}
quotations = pd.Series(data=stocks)

In [40]:
quotations = pd.DataFrame(quotations).reset_index()
quotations.columns = ["ticker", "price"]
print(quotations)

  ticker  price
0    PLW  387.0
1    CDR  339.5
2    TEN  349.5
3    11B  391.0
4    BBT   25.5
5    F51   19.2

9. Create the following DataFrame object and assign it to the companies variable:

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

In response, print companies DataFrame to the console.

In [45]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}
 
companies = pd.DataFrame(data=data_dict)
print(companies)

     company   price   ticker
0     Amazon  2375.0  AMZN.US
1  Microsoft   178.6  MSFT.US
2   Facebook   179.2    FB.US

10. Convert the first column of the companies DataFrame to index. In response, print companies DataFrame to the console.

In [46]:
data_dict = {
    'company': ['Amazon', 'Microsoft', 'Facebook'],
    'price': [2375.00, 178.6, 179.2],
    'ticker': ['AMZN.US', 'MSFT.US', 'FB.US']
}

companies = pd.DataFrame(data=data_dict)

In [47]:
companies.set_index('company')

            price   ticker
company
Amazon     2375.0  AMZN.US
Microsoft   178.6  MSFT.US
Facebook    179.2    FB.US

111. Create the DatetimeIndex object containing the yyyy-mm-dd format dates for all days from January 2020 and assign it to the date_range variable. In response, print this variable to the console.

In [50]:
date_range = pd.date_range(start='2020-01-01', periods=31)
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')

112.